.button {
  background-color: chartreuse;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  cursor: pointer;
  border: none;
  transition: all ease-in-out 150ms;
}

.button:hover {
  background-color: #444;
  color: chartreuse;
}