.task-container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: #eee;
  align-items: center;
  cursor: pointer;
}

.buttons-container{
  display: flex;
  gap: 5px;
}
.buttons-container button {
  display: flex;
  border: none;
  background: none;
  color: chartreuse;
  cursor: pointer;
}